In [1]:
#Q1 for로 10번 반복하는 방법으로 올바른 것
a. for i in range(10)
d. for i in range(20, 40, 2)

SyntaxError: invalid syntax (610597137.py, line 2)

In [ ]:
#Q2 for 반복문 수행결과
d. n.o.h.t.y.P.

In [1]:
#Q3 리스트 각 숫자에 10 곱한 값을 출력
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
    print(i * 10, end=" ")

490 -170 250 1020 80 620 210

In [ ]:
#Q4 while반복문 실행결과
d. 10 12 14 16 18

In [5]:
#Q5 0과 73사이의 숫자중 3으로 끝나는 숫자만 출력
i = 0
while True:
    if (i % 10 != 3):
        i += 1
        continue
    if (i > 73):
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73

In [7]:
a, i = map(int, input().split())
i -= 1
i += 0.01
d = int(a * i)
print(d+1)

1 100
100

In [8]:
array = [i*i for i in range(0, 20, 2)]
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [3]:
array = ["사과", "자두", "초콜릿", "바나나", "체리"]
output = [fruit for fruit in array if fruit != "초콜릿"]
print(output)

['사과', '자두', '바나나', '체리']

In [8]:
a = 1
def vartest(a):
    a += 1

vartest(a)
print(a)

1

In [9]:
a = 1
def vartest(a):
    a += 1
    return a

a = vartest(a)
print(a)

2

In [11]:
a = int(input())
b = input()
c = int(input())

if b == "*" :
    print(a*c)
else :
    print(a+c)

1000
*
100
100000

In [12]:
a = int(input())

if a >= 90:
    print("A")
elif a >= 80:
    print("B")
elif a >= 70:
    print("C")
elif a >= 60:
    print("D")
else:
    print("F")

100
A

In [13]:
#Q1 홀수인지 판별해주는 함수
def is_odd(number):
    if number % 2 == 1:
        return True
    else:
        return False

In [26]:
#Q2 입력으로 들어오는 모든 수의 평균 값
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result / len(args)

print(avg_numbers(1,2))
avg_numbers(1,2,3,4,5)

1.5

3.0

In [23]:
#Q3 두 개의 숫자를 입력받아 더해줌
input1 = int(input("첫번째 숫자를 입력하세요: "))
input2 = int(input("두번째 숫자를 입력하세요: "))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요: 3
두번째 숫자를 입력하세요: 6
두 수의 합은 9 입니다

In [25]:
#Q4 출력 결과가 다른 것 한개
print("you""need""python")
print("you"+"need"+"python")
print("you","need","python")
print("".join(["you","need","python"]))

youneedpython
youneedpython
you need python
youneedpython

In [27]:
1.1 + 0.1 == 1.2

False

In [28]:
1.1 + 0.1

1.2000000000000002